@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  display:inline-block;
  font-size:16px;
  font-family:"iconfont" !important;
  font-style:normal;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  vertical-align:middle;
}

.icon-dian:before { content: "\e9b3"; }

.icon-shou:before { content: "\ec0a"; }

.icon-line2:before { content: "\ec12"; }

.icon-shiping2:before { content: "\ec13"; }

.icon-tringup2:before { content: "\ec14"; }

.icon-citie2:before { content: "\ec15"; }

.icon-zhangben2:before { content: "\ec16"; }

.icon-dingwei:before { content: "\ec18"; }

.icon-gongxiang:before { content: "\ec19"; }

.icon-jiesuan:before { content: "\ec1a"; }

.icon-earth2:before { content: "\ec1b"; }

.icon-genzong:before { content: "\ec1c"; }

.icon-zhinneg:before { content: "\ec1d"; }

.icon-qianbao:before { content: "\ec1f"; }

.icon-caozuo:before { content: "\ec20"; }

.icon-huoyuan:before { content: "\ec21"; }

.icon-genzong1:before { content: "\ec0e"; }

.icon-email:before { content: "\ec0f"; }

.icon-iphone:before { content: "\ec10"; }

.icon-dizhi:before { content: "\ec11"; }

.icon-search:before { content: "\ec17"; }

.icon-gongsi:before { content: "\ec1e"; }

.icon-anquan:before { content: "\ec22"; }

.icon-huidaodingbu:before { content: "\ec23"; }

.icon-bianji:before { content: "\ec24"; }

.icon-pinzhi:before { content: "\ec25"; }

.icon-gaoxiao:before { content: "\ec26"; }

.icon-linghuo:before { content: "\ec27"; }

.icon-zuojiantou:before { content: "\ec28"; }

.icon-youjiantou:before { content: "\ec29"; }

.icon-shangyinhao:before { content: "\ec2a"; }

.icon-xiayinhao:before { content: "\ec2b"; }

.icon-reback:before { content: "\ec2c"; }

.icon-zuixiaohua:before { content: "\ec2d"; }

.icon-guanbi:before { content: "\ec2e"; }
